<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <p id="your-id"></p>
        <h1></h1>
        <p id="guess">Last guess: -</p>
        <section>
            <h2>Scoreboard:</h2>
            <ol></ol>
        </section>
    </header>
    <main>
        <img src="<%= data[0].image %>" alt="Base card">
        <div>
            <button id="higher">Higher</button>
            <button id="lower">Lower</button>
        </div>
        <div id="flip-card">
            <div id="flip-card-inner">
                <img src="images/back-card.png" alt="Hidden card">
                <img src="<%= data[1].image %>" alt="Revealed card">
            </div>
        </div>
    </main>
    <div class="hidden" id="finish-pop-up">
        <section id="finished-message">
            <h2>Too bad! You can't win them all!</h2>
            <p>Would you like to play another game of higher or lower?</p>
            <a href="/game">Play again</a>
        </section>
        <div id="blur-background"></div>
    </div>
</body>

</html>