<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <main>
        <img src="<%= data[0].image %>" alt="Base card">
        <div>
            <button id="higher">Higher</button>
            <button id="lower">Lower</button>
        </div>
        <div id="flip-card">
            <div id="flip-card-inner">
                <img src="images/back-card.png" alt="Hidden card">
                <img src="<%= data[1].image %>" alt="Revealed card">
            </div>
        </div>
        <ul id="test">

        </ul>
    </main>
</body>

</html>