<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <main>
        <img src="<%= data[0].image %>" alt="Base card">
        <div>
            <button>Higher</button>
            <button>Lower</button>
        </div>
        <img src="images/back-card.png" alt="Guess card">
    </main>
</body>

</html>