<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <img src="<%= data[0].image %>" alt="Base card">
    <button>Higher</button>
    <button>Lower</button>
    <img src="images/back-card.png" alt="Guess card">
</body>

</html>