<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <form action="/game" id="username">
        <input id="username-input" type="text" autocomplete="off" required /><button>Set username</button>
    </form>
</body>

</html>