<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body>
    <form method="GET" action="/chat" id="nickname">
        <input name="nickname" id="nickname-input" type="text" autocomplete="off" /><button>Set nickname</button>
    </form>
</body>
</html>