*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    color: #AC3B61;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home h1 {
    font-size: 10em;
    margin-bottom: 5rem;
}

#home a {
    display: block;
    width: fit-content;
    font-size: 4em;
    font-weight: bold;
    text-decoration: none;
    border: 8px solid #AC3B61;
    border-radius: 0.4em;
    color: #AC3B61;
    padding: 0.25em 0.5em;
}

header #your-id {
    font-weight: bold;
    font-style: italic;
    position: absolute;
    left: 1em;
    top: 0.75em;
}

header h1 {
    font-size: 2.5rem;
    width: fit-content;
    margin: 3rem auto 0;
}

header #guess {
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    width: fit-content;
    margin: 1em auto;
}

header section {
    position: absolute;
    top: 0.75em;
    right: 1em;
}

header section ol {
    list-style-position: inside;
}

header section ol li.player {
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(100vh - 14rem);
    margin: auto;
}

main div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5vw;
}

main div button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: unset;
    color: #AC3B61;
    font-weight: bold;
    font-size: 2vw;
    border: 0.25vw solid #AC3B61;
    border-radius: 0.8vw;
    padding: 0.5vw 0.75vw;
    margin: 1.2vw 0;
}

main div #higher::after {
    content: '\25B2';
}

main div #lower::after {
    content: '\25bc';
}

main div button::after {
    font-size: 1.5vw;
    margin-left: 0.75vw;
}

#home a:hover,
#home a:focus,
main div button:hover,
main div button:focus {
    outline: none;
    background-color: #AC3B61;
    color: white;
}


main div button:disabled {
    opacity: 0.7;
}

main div button:disabled:hover {
    cursor: auto;
    background-color: unset;
    color: #AC3B61;
}

main #flip-card {
    background-color: transparent;
    width: 25vw;
    height: 34.73vw;
    perspective: 1000px;
}

main #flip-card:hover {
    transform: rotateY(180);
}

main #flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin: 0;
}

main #flip-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


main #flip-card img:last-of-type {
    transform: rotateY(180deg);
}

main #flip-card-inner.flip {
    transform: rotateY(180deg);
}

main img {
    width: 25vw;
    height: 34.73vw;
}

#finished-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
    background-color: white;
    padding: 1em 1.5em;
    border: 6px solid #AC3B61;
    position: absolute;
    width: 30%;
    top: 40%;
    left: 33%;
    z-index: 1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 2)
}

#finished-message p {
    margin: 0.5em 0 1em;
}

#finished-message a {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    color: #AC3B61;
    border: 4px solid #AC3B61;
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
}

#finished-message a:hover {
    background-color: #AC3B61;
    color: white;
    cursor: pointer;
}

#blur-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: grey;
    opacity: 0.5;
}

.hidden {
    display: none;
}