*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    color: #AC3B61;
}

header p {
    font-weight: bold;
    font-style: italic;
    position: absolute;
    left: 1em;
    top: 0.75em;
}

header h1 {
    font-size: 2.5rem;
    width: fit-content;
    margin: 2.5rem auto 0;
}

main {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(100vh - 6rem);
    margin: auto;
}

main div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5vw;
}

main div button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: unset;
    color: #AC3B61;
    font-weight: bold;
    font-size: 2vw;
    border: 0.25vw solid #AC3B61;
    border-radius: 0.8vw;
    padding: 0.5vw 0.75vw;
    margin: 1.2vw 0;
}

main div #higher::after {
    content: '\25B2';
}

main div #lower::after {
    content: '\25bc';
}

main div button::after {
    font-size: 1.5vw;
    margin-left: 0.75vw;
}

main div button:hover,
main div button:focus {
    outline: none;
    background-color: #AC3B61;
    color: white;
}

main #flip-card {
    background-color: transparent;
    width: 25vw;
    height: 34.73vw;
    perspective: 1000px;
}

main #flip-card:hover {
    transform: rotateY(180);
}

main #flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin: 0;
}

main #flip-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


main #flip-card img:last-of-type {
    transform: rotateY(180deg);
}

main #flip-card-inner.flip {
    transform: rotateY(180deg);
}


main img {
    width: 25vw;
    height: 34.73vw;
}